.title {
    margin: 10vh 0;
    text-align: center;
    color: var(--grayish-blue);
    font-family: 'Fraunces', serif;
    letter-spacing: 4px;
}

.testimonials-wrap {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}


@media(min-width: 768px) {
    .testimonials {
        min-height: 100vh;
    }

    .testimonials-wrap {
        height: 50vh;
    }

    .title {
        margin: 20vh 0 0 0;
    }
}